.pageContainer {
  font-family: Arial, sans-serif;
  background-color: rgb(245, 240, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff; /* White background for header */
  padding: 15px 30px; /* Space inside the header */
}

.shopName {
  width: fit-content;
  font-size: 40px;
  font-weight: bold;
  color: black;
  white-space: normal; /* Allow wrapping of the text */
  word-wrap: break-word; /* Break words if necessary */
  text-align: left; /* Ensures text stays left aligned */
  margin-top: 5px; /* Adjusts for better spacing if wrapping occurs */
  
}

/* Store Header Image */
.store-header-img {
  margin-top: 10px;
  margin-bottom: 20px; /* Increased bottom margin to add more space between the image and tabs */
}

/* Tab container */
.tabs {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between the tabs */
  background-color: white; /* Light background for the tab container */
  border-radius: 20px; /* Rounded edges for tabs container */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
  margin: 0 auto; /* This centers the tabs container horizontally */
  margin-top: 20px; /* Added top margin to ensure padding between the image and tabs */
}


/* Tab style */
.tab {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  background-color: transparent; /* Transparent background by default */
  border: 2px solid transparent; /* Invisible border by default */
  border-radius: 15px; /* Rounded edges for tabs */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Active Tab Style */
.activeTab {
  background-color: rgb(136, 77, 255); /* Blue background for selected tab */
  color: white; /* White text when active */
  font-weight: bold; /* Bold text for active tab */
  border-radius: 15px; /* Rounded edges */
  border: 2px solid rgb(136, 77, 255); /* Blue border for active tab */
}

/* Hover effect */
.tab:hover {
  font-weight: bold; /* Bold text on hover */
}


.content {
  max-width: 90%;
  width: 100%;
  min-height: 700px; /* Ensure it's dynamic */
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.section {
  margin-bottom: 20px;
}

.sectionTitle {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.sectionContent {
  color: black;
  font-size: 20px;
}
