  .container {
    position: absolute;
    right:80px;
  }
  
  .editButton {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 160px;
    height: 40px;
  }
  
  .editForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .contactField {
    display: flex;
    gap: 0.5rem;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .saveButton {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cancelButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .successMessage {
    color: green;
  }
  
  .errorMessage {
    color: red;
  }
  