.upload-homepage-icon {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.upload-homepage-icon h3 {
  color: #1e1e1e; /* Adjusted color from the demo */
  margin-bottom: 15px;
  font-size: 20px; /* Keep consistent font size as per demo */
  line-height: 100%;
}

.upload-homepage-icon input[type='file'] {
  display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.upload-homepage-icon button {
  background-color: #4b2e83ff; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-homepage-icon button:hover {
  background-color: rgb(136, 77, 255); 
}

.upload-homepage-icon span {
  display: block;
  margin-top: 10px;
  color: blue;
}

.upload-homepage-icon progress {
  width: 100%;
  margin-top: 10px;
  height: 20px;
  border-radius: 10px;
  appearance: none;
}

.upload-homepage-icon progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 10px;
}

.upload-homepage-icon progress::-webkit-progress-value {
  background-color: rgb(181, 144, 255);
  border-radius: 10px;
}

.upload-homepage-icon progress::-moz-progress-bar {
  background-color: #4b2e83ff; 
  border-radius: 10px;
}

.upload-homepage-icon div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
