/* Root container setup */
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

/* Navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  padding-bottom: 50px;
}

/* Wrapper for caption and loginComponent */
.content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 80%;
  gap: 0%; /* Adjust spacing between the two components as needed */
}

/* Caption */
.caption {  
  position:relative;  
  color: black;
  font-size: 80px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  width:40%;
  height: auto;
  text-align: left;
  padding-top: 50px;
}

/* Login Component */
.loginComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50%;
  border-radius: 59px;
  background-color: #fff;
  box-shadow: 8px 0px 0px 0px black;
  gap: 40px;
}

/* Title and Login Text */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.helloWelcome {
  color: #000;
  font-size: 55px;
  margin-left: 50px;
  margin-right: 50px;
}

.join {
  color: #000;
  font-size: 20px;
  font-weight: 300;
}

/* Login Form */
.formLogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px; /* Adds space between the buttons */
}

/* Image styling */
.image2 {
  width: 186.7px;
  height: 156.6px;
  margin-top: 5%;
  border-radius: 4px;
  background-image:/* webpackIgnore: true */ url('assets/image22.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: matrix(0.834, -0.5517, 0.5517, 0.834, 0, 0);
}

.uWLogo {
  position: absolute;
  width: 143px;
  height: 202px;
  margin-top: auto;
  background-image:/* webpackIgnore: true */ url('assets/uWLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Profile info */
p {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Error message */
.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}


.login_button {
  font-size: 20px;
  font-weight: 100;
  border-radius: 8px;
  padding: 10px;
  background-color: #4b2e83ff;
  color: white;
  width: 70%;
  border: none;
}

.logout_button {
  width: 70%;
  border: none;
  color: rgb(209, 9, 9);
  background-color: white;
  font-size: 16px;
  font-weight: 100;
}