/* Root container setup */
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}

/* Navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-bottom: 5%; /* Adjust the value to control the spacing */
  font-size: 20px;
  font-weight: 200;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;

}



/* Wrapper for caption and loginComponent */
.content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 80%;
  gap: 0%; /* Adjust spacing between the two components as needed */
}

/* Caption */
.caption {  
  position:relative;  
  color: black;
  font-size: 75px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  width:36%;
  height: auto;
  text-align: left;
  margin-top: 10px;
  padding-top: 40px;
}

/* Login Component */
.loginComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50%;
  padding: 10%;
  border-radius: 59px;
  background-color: #fff;
  box-shadow: 4px 4px 4px 4px #00000040;
  gap: 10%;
}

/* Title and Login Text */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.helloWelcome {
  color: #000;
  font-size: 48px;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.logInPage {
  color: #000;
  font-size: 20px;
  font-weight: 100;
  font-family: Outfit, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

/* Login Form */
.formLogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px; /* Adds space between the buttons */
}

/* Image styling */
.image2 {
  width: 186.7px;
  height: 156.6px;
  margin-top: 5%;
  border-radius: 4px;
  background-image:/* webpackIgnore: true */ url('assets/image22.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: matrix(0.834, -0.5517, 0.5517, 0.834, 0, 0);
}

.uWLogo {
  width: 143px;
  height: 202px;
  margin-top: auto;
  background-image:/* webpackIgnore: true */ url('assets/uWLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Adjusting text elements */
h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: black;
}

/* Profile info */
p {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Profile icon */
img {
  border: 10px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

/* Error message */
.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
