nav {
  display: flex; /* Flexbox for horizontal alignment */
  justify-content: space-between; /* Space between logo and nav links */
  align-items: center; /* Vertically center the items */
  width: 100vw; /* Full width */
  max-width: 100%; /* Ensure no overflow beyond the screen width */
  padding: 10px 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Includes padding in the width */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  overflow: hidden; /* Prevents overflow */
}

.logoWrapper {
  flex-shrink: 0; /* Prevents the logo from shrinking */
  width: 52.5px; /* Adjust logo size */
  height: 52.5px; /* Adjust logo size */
  margin-right: 20px; /* Space between logo and nav items */
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Optional: for a circular logo */
  object-fit: cover; /* Ensure the image covers the container */
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-links {
  display: flex;
  gap: 10px; /* Space between nav links */
  justify-content: flex-end; /* Align the buttons to the right */
  flex-grow: 1; /* Ensures the nav buttons take available space */
}

.nav-button {
  background-color: #4b2e83; /* Purple color */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  cursor: pointer;
  text-decoration: none; /* Get rid of underline */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.nav-button:hover {
  background-color: #6b3f99; /* Lighter purple for hover effect */
  transform: translateY(-4px); /* Lift effect */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-button.active {
  background-color: #3f1d5d; /* Darker purple for active state */
  transform: translateY(2px); /* Button presses down */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
