.root {
  position: relative;
  width: 88px;
  height: 35px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer; /* Ensure the cursor changes to a pointer on hover */
}

.rectangle1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: #ece6f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.root:hover .rectangle1 {
  transform: translateY(-4px); /* Lift effect */
}

.text {
  /* Existing styles */
  position: absolute;
  left: -1px;
  top: 1px;
  width: 89px;
  height: 34px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Color styles for each type */
.food {
  background-color: #ffcccc;
}

.artwork {
  background-color: #ccffcc;
}

.service {
  background-color: #ccccff;
}

.craft {
  background-color: #fff0b3;
}

.resell {
  background-color: #ffccff;
}

.selected {
  font-weight: 1000;
}
