/*Webpage body */
.root {
  position: relative;
  width: 90vw; /* Ensures it spans the full viewport width */
  height: 100vh; /* Optional: Ensures it spans the full viewport height */
  background-color: white; /* Background color of homepage */
  background-size: cover; /* Ensures the background covers the container without overflowing */
  margin: 0; /* Reset default margins */
  padding: 0; /* Reset default padding */
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center horizontally if necessary */
  padding-top: 60px;
  padding-bottom: 20px;
}


.cardGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  flex-wrap: wrap;
  gap: 32px 42px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.shopImage {
  border-radius: 8px;
}

.card {
  width: 20%;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  padding: 32px 44px;
  border-radius: 62px;
  background-color: #ece6f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.cardHeading {
  height: min-content;
  flex-direction: column;
}

.name {
  color: #000;
  font-size: 25px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.businessName {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.description {
  padding-top: 10px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  padding-bottom: 5px;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}


