/*Webpage body */
.root {
  position: relative;
  width: 100vw; /* Ensures it spans the full viewport width */
  height: 100vh; /* Optional: Ensures it spans the full viewport height */
  box-sizing: border-box; /* Prevents horizontal scrolling due to padding*/
  background-size: cover; /* Ensures the background covers the container without overflowing */
  overflow-x: hidden; /* Prevents any horizontal scrolling if overflow occurs */
  margin: 0; /* Reset default margins */
  padding: 0; /* Reset default padding */
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center horizontally if necessary */
  padding-top: 60px;
  padding-bottom: 20px;
}


.cardGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  flex-wrap: wrap;
  gap: 32px 42px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.shopImage {
  border-radius: 8px;
}

.card {
  width:auto;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  padding: 32px 44px;
  border-radius: 62px;
  background-color: #ece6f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 200px; /* Make it span the width of the card */
  height: 120px; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image looks good when resized */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.cardHeading {
  height: min-content;
  flex-direction: column;
}

.name {
  color: #000;
  font-size: 25px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.cardLink {
  text-decoration: none /*Removes hyperlink underline text */
}

.businessName {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.description {
  padding-top: 10px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  padding-bottom: 5px;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}


