/*Webpage body */
.root {
  position: relative;
  width: 100vw; /* Ensures it spans the full viewport width */
  height: 100vh; /* Optional: Ensures it spans the full viewport height */
  box-sizing: border-box; /* Prevents horizontal scrolling due to padding*/
  background-size: cover; /* Ensures the background covers the container without overflowing */
  overflow-x: hidden; /* Prevents any horizontal scrolling if overflow occurs */
  margin: 0; /* Reset default margins */
  padding-bottom: 30px; /* Reset default padding */
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.search {
  position: fixed;
  width: 100%; /* Ensure it spans the full width if desired */
  z-index: 1000; /* Make sure it appears on top of other elements */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: add a subtle shadow */
  background-color: rgba(255,255,255,1);
  padding-bottom: 10px;
  padding-top: 20px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center horizontally if necessary */
}


.cardGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  flex-wrap: wrap;
  gap: 32px 42px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 225px;
}

.shopImage {
  border-radius: 8px;
}

.card {
  width: 250px;
  height: 370px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #ece6f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  padding-bottom: 0px;
}

.card img {
  width: 250px; /* Make it span the width of the card */
  height: 150px; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image looks good when resized */
  border-radius: 20px; /* Optional: Add rounded corners */
}

.cardHeading {
  height: min-content;
  flex-direction: column;
}

.name {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  align-self: stretch;
  flex-direction: column;
  height: auto;
}

.cardLink {
  text-decoration: none /*Removes hyperlink underline text */
}

.businessName {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  align-self: stretch;
  flex-direction: column;
  display: inline-block;
}

.description {
  width: 100%;
  height: min-content;
  color: #6d6767;
  padding-top: 10px;
  font-size: 20px;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


