.root {
  position: relative;
  width: 100vw; /* Ensures it spans the full viewport width */
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-image: linear-gradient(120.5deg, #ffff 16%, #4b2e83ff 98%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}

.addYourBusiness {
  width: 50%;
  height: 100%;
  margin-right: 100px;
}

.textBlock {
  width: 80%;
  color: #000;
  font-size: 96px;
  font-weight: bold;
  font-family: Inria Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
  padding-left: 400px;
}

.startYourBusinessHere {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: Inria Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  width: 40%;
  padding-left: 400px;
}

.form {
  width: 50%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6e6;
  backdrop-filter: blur(5px);
  padding: 50px;
  margin-right: 200px;
  margin-left: 100px;

}

.button {
  color: white;
  width: 100px;
}

.className {
  width: 20px;
}